---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import Aboutsect from '../components/Aboutsect.astro';

---

<Layout title="Thamani Energy home">

	<main>
		<Navbar/>
		<Hero/>
		<Aboutsect/>
		<Services/>
	</main>
</Layout>

