---

---


<div class="container flex flex-col lg:flex-row gap-6 items-center gap-14 py-20 px-16 mx-auto max-w-7xl  ">
    <div class="relative bg-[url('../public/images/engineer.png')] w-full lg:w-1/2 h-[516px] bg-cover bg-center rounded-[40px]">
       
        <div class="flex flex-col gap-6 items-center absolute right-[-50px] top-[350px] bg-[#FCD8A1] p-4  rounded-[40px] max-w-[200px]">
            <p class="font-bold ">Over</p>
            <p class="text-[50px] text-[#F28029]" style=" font-family: Dela Gothic One, sans-serif;">150</p>
            <p class="font-bold ">Businesses Served</p>
        </div>
    </div>
    <div class="flex flex-col w-full lg:w-1/2 gap-5">
        <p class="p-2 bg-[#FFE9E9] max-w-fit rounded-md font-semibold">
            About Us
        </p>
        <h2 class="font-bold text-4xl ">
            SHRINKING YOUR ENERGY COSTS, INCREASING YOUR PROFIT AND CUTTING DOWN ON CO2 EMISSIONS  
        </h2>
        <p>
            Thamani Energy is a leading energy efficiency and project management business dedicated to helping small and medium-sized businesses across various market segments increase their profits and save on operational costs through energy-saving opportunities. Our commitment to knowledge, integrity, and productive work ethics sets us apart. We genuinely enjoy what we do and stay updated with the latest developments in energy-efficient technologies and methods.
        </p>
        <p class="font-bold text-xl italic ">
            “At Thamani Energy, we understand the pressure on our customers to comply with statutory industry requirements, and to seek opportunities to improve economic performance by reducing energy use and operational costs, among others.”
        </p>
    </div>
</div>