---
interface Props {
    heading : string;
    body : string;
    serialnum : string;
    className : string;
}
let {heading, body, serialnum, className} = Astro.props;
---

<div class="flex flex-col md:max-w-[255px]  py-8 px-6 gap-4 border-gray-200 border-2 rounded-md ">
   <div class="w-[65px] justify-center items-center flex bg-gray-100 h-[65px] rounded-[50%] ">
    <p class={`text-2xl ${className}`} style=" font-family: Dela Gothic One, sans-serif;">
        {serialnum}
    </p>
   </div>
   <p class="font-semibold text-2xl">
    {heading}
   </p>

   <p>
    {body}
   </p>
    

</div>