---
import Button from "../components/Button.astro";

---

<div class=" relative bg-[url('../public/images/heroimg.png')]  bg-cover bg-center h-screen ">
    <div class="flex flex-col absolute inset-0 bg-gradient-to-t from-black to-transparent lg:items-start h-screen justify-center lg:px-28 px-[16px]">
        <div class="lg:max-w-3xl lg:items-start items-center relative flex flex-col gap-6">
            <h1 class="text-6xl text-white lg:items-start text-center lg:text-left  items-center font-bold">
                Empowering Businesses  to Save Energy and Increase Profits
            </h1>
            <p class="text-white text-center lg:text-left ">
                At Thamani Energy, we help small and medium-sized businesses reduce costs and boost profits through innovative energy solutions. Our expert team leverages the latest technologies to optimize energy usage and minimize waste, ensuring a more sustainable and profitable future for your business.
            </p>
            <Button  text="Get Started">
                <img src="../public/images/heroimg.png" alt="">
        </div>
    </div>


</div>